  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
    width: 35%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    position:relative;
    padding-bottom: 35px;
  }
  .error {
    width: 100%;
    text-align: center;
    color: red;
    size: 20px;
    width: 75%;
  }

  form{
    border: 2px solid #f9f9f6;
  }
  
  /* Full-width input fields */
  input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #f2d517;
    color: rgb(23, 21, 21);
    padding: 16px 20px;
    border: none;
    size: 25px;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border-radius: 15px;
    float: left;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */

  .signin {
    background-color: #f7f6f1;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
  }

  